<!DOCTYPE html>
<link rel="stylesheet" type="text/css" th:href="@{/jystyle.css}">
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About | COPPER & BRASS</title>
</head>

<body>
	<nav th:replace="~{header :: navbarFragment}"></nav>
	<div class="total">
		<div class=" colorheader" >
		About us
		</div>
	</div>
<br><br>
	<div class="total">
		<div class="maincontent">
			<div class="aboutmain">
				<img calss="aboutmainimg" th:src="@{/img/about/main.JPG}">
			</div>
			<div class="abouttext">
				<p style="font-size: 25px;color: black;">So Much More Than Stationery</p>
				
				Copper and Brass Paper Goods started in 2017 with the idea to create something fun but also to introduce a family tradition. 
				This story goes back to its creator, Ariel Young, and her mother, who was always giving care, detail and love when creating beautiful packages. 
				<br><br>
				These virtues were passed along the way like a torch, as Ariel naturally shares her mother’s enthusiasm for the pretty little details which can light up the day; 
				and through this passion, she also noticed that paper goods and stationery lacked diversity.  
				The products being offered were limited: There were not many products featuring black people.
				<br><br>
				Ariel thought that representation was needed and she needed to contribute to a broader, more inclusive market, where black people can feel seen and heard. 
				So she did what came naturally -she combined her purpose with her passion.
				<br><br>
				Copper and Brass Paper Goods officially launched in October 2018.  
				In its beginnings, the brand offered wrapping paper, gift bags, and tags; however, as the vision expanded, so did the line of products. 
				Now the product line includes greeting cards, notebooks, accessories, and other small paper goods. 
				<br><br>
				Since its debut, Copper and Brass Paper Goods has received attention from its many supporters and larger audiences, 
				as well as being featured on pages like Etsy, Essence and Black Southern Belle. Still, you might ask, what makes Copper and Brass Paper Goods so unique? 
				<br><br>
				Copper & Brass Paper Goods’ style is one of a kind, as its values flow effortlessly through its creations.  
				The brand shines a light on black culture by promoting positive representation of black people, using gorgeous illustrations 
				which highlights the beauty and power of black people. Making the community the focal point is our dream, and striving 
				to make a memorable experience in your gift-giving is our goal. 
				<br><br>
				Our products are designed and shipped from our headquarters in Middle Georgia and produced by partners within the USA.
				At Copper and Brass Paper Goods we firmly believe positive representation makes a difference. 
				To read about our owner click here: <b>Ariel Young</b>
			</div>			
		</div>
	</div>
	<br><br><br><br>
	<div class="total">
		<div class="maincontent">
			<div class="onlinePub">As seen in these online publications: </div>
			<p>
				<img th:src="@{/img/about/onlinepublications.JPG}" width="1000px" style="position: static;"/>
			</p>
		</div>
	</div>
	
	<br><br><br>
	<nav th:replace="~{footer :: FooterFragment}"></nav>	
</body>

<script src="https: //code.jquery.com/jquery-1.11.3.js" type="text/javascript"></script> 
<script th:inline="javascript">

</script>

</html>



