<nav th:fragment="FooterFragment" >
	<br><br><br><br><br>
	<div class="footer">
		<div class="footer-container">
			<br><br>
			<div style="width: 35%;float: left;">
				<span style="font-size: 20px;letter-spacing:5px;color: black;"><b>COPPER & BRASS</b><br></span>
				<span style="font-size: 18px;letter-spacing:4px;color: black;">PAPER GOODS</span>
				<br>
				<br>
				We Are So Much More Than Stationery
			</div>
			<div style="width: 20%;float: left;">	
				<span style="font-size: 20px;color: black;"><b>Quick Links</b></span>
				<br><br>
				About<br>
				Shipping & Returns<br>
				Store Policy<br>
				Privacy Policy<br>
				Contact
			</div>
			<div style="width: 25%;float: left;">	
				<span style="font-size: 20px;color: black;"><b>Address</b></span>
				<br><br>
				Warner Robins, GA 31088<br>
				sales@copperandbrass.net
			</div>
			<div style="width: 20%;float: left;">	
				<span style="font-size: 20px;color: black;"><b>Opening Hours</b></span>
				<br><br>
				Mon-Fri : 8AM-5PM 
			</div>		
		</div>
	</div>
	
	<div class="footer2">
		<br><br>
		<div style="text-align: center;">© 2023 by Copper and Brass Paper Goods</div>		
	</div>
</nav>