<nav th:fragment="navbarFragment" >
	<div class="header">
		<div class="header-container">
			<span class="logo">
				<a th:href="@{|/copperbrass|}">
					<img th:src="@{/img/CB로고.jpg}" alt="cblog" >
				</a>
			</span>	
			<!--<div>-->
				<ul class="myMenu navs">
					<li><a class="nav yellow" th:href="@{|/copperbrass|}">Home</a></li>
					<li>
						<a class="nav" th:href="@{|/copperbrass/about|}">About</a>
						<ul class="menu2_s submenu">
							<li><a th:href="@{|/copperbrass/about|}" >About the owner</a></li>
			
						</ul>   
					</li>
					<li>
						<a class="nav" th:href="@{|/copperbrass/shop|}">Shop</a>
						<ul class="menu3_s submenu">
							<li><a th:href="@{|/copperbrass/shop?num=Notebook|}" >Notebook</a></li>
							<li><a th:href="@{|/copperbrass/shop?num=Greeting Cards|}" >Greeting Cards</a></li>
							<li><a th:href="@{|/copperbrass/shop?num=Wrapping Paper/Bags|}" >Wrapping Paper/Bags</a></li>
							<li><a th:href="@{|/copperbrass/shop?num=Sticky Notes|}" >Sticky Notes</a></li>
						</ul>   
					</li>
					<li><a class="nav" th:href="@{|/copperbrass/contact|}">Contact</a></li>
					<li><a class="nav" th:href="@{|/copperbrass/policies-shipping|}">Policies&Shipping</a></li>   
				</ul>
			<!--</div>-->
			<div class="loginMenu">
				<span sec:authorize="isAuthenticated()">
					<span class="headeruser" th:if="${principal != null}" th:text="${principal.Principal.username}"></span>
					
					<span class="headeruser" th:if="${principal != null}">님</span>
					<input type="button" value="My Page" onClick="location.href='/copperbrass/mypage'" style="background-color:blanchedalmond;">
					<input type="button" value="Logout" onClick="location.href='/user/logout'" style="background-color:gainsboro;">
				</span> 
				<span sec:authorize="isAnonymous()">
					<input type="button" value="Sign up" onClick="location.href='/user/signup'" style="background-color:blanchedalmond;">					
					<input type="button" value="Login" onClick="location.href='/user/login'" style="background-color:gainsboro;">
				</span>
			</div>
 		</div>
	</div>
</nav>