<!DOCTYPE html>
<link rel="stylesheet" type="text/css" th:href="@{/jystyle.css}">
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About | COPPER & BRASS</title>
</head>

<body>
	<nav th:replace="~{header :: navbarFragment}"></nav>
	<div class="total">
		<div class=" colorheader" >
		About us
		</div>
	</div>
<br><br>
	<div class="total">
		<div class="maincontent">
			<div class="policiesShippingtext">
					Our shipping department is making every effort to quickly process and ship out new orders within 4-5 business days (Monday-Friday); 
					however, during promotional or other high order volume periods (week of Black Friday/warehouse sales) we may require up to 10 business days to process your order. 
					We will send an email with the tracking number as soon as it is available.
				<p style="font-size: 17px;color: black;font-weight: bold;">Carrier Service Alerts</p>
					USPS continues to report service interruptions or delays related to the affects of the Covid-19 Pandemic. 
					Thank you for your understanding as we work through this together.
				<p style="font-size: 17px;color: black;font-weight: bold;">Default Shipping Speed and Service:</p>
					We ship USPS First-Class Mail® Parcel (2-5 days) in a package that is size appropriate.​ 
					If your order is over 16 oz (4 or more notebooks) it will automatically ship priority mail. 
				<p style="font-size: 17px;color: black;font-weight: bold;">Order Cancellations</p>
					Our team makes every effort to process your order as quickly as possible.
					Once your order has been placed, we are unable to cancel or edit your order.  
				<p style="font-size: 17px;color: black;font-weight: bold;">Lost Packages:</p>
					Please remember that once Copper and Brass Paper Goods drops off your package at the post office we have no control over the delivery speed. It is in USPS' hands. 
				<br><br>
					If you fear your package is lost please contact USPS. Copper and Brass Paper Goods is unable to open any USPS cases for you that is the buyer's responsibility. 
					You may contact Copper and Brass Paper Goods for assistance, but we are not responsible for the lost merchandise. 
				<br><br>
					Please be patient with tracking updates for standard shipping as tracking might not begin updating for 24-48 hours and may not update at all 
					while your package is on a truck traveling to you. The information you see on the tracking is the same information that is provided to us. 
					We have found that tracking is not always accurate and that your package can arrive at your door without tracking having ever updated. 
					EasyPost and UPS will provide an estimated delivery date for your order but this date is not a guarantee and it will update as transit progresses. 
					We understand that you are anxious to receive your order but we are not able to get a package to you sooner than the carrier is projecting.
				<p style="font-size: 17px;color: black;font-weight: bold;">Address Changes:</p>
					Please verify your shipping address is correct at checkout (through our shop AND through PayPal) before submitting your order. 
					We are not responsible for orders shipped to incorrectly submitted addresses. 
					Customers are responsible for paying any reshipping charges associated with a package if an incorrect shipping address is entered at checkout.  
					
				
			</div>
		</div>
	</div>
	<br><br><br><br>

	<br><br><br>
	<nav th:replace="~{footer :: FooterFragment}"></nav>	
</body>

<script src="https: //code.jquery.com/jquery-1.11.3.js" type="text/javascript"></script> 
<script th:inline="javascript">

</script>

</html>



