<!DOCTYPE html>
<link rel="stylesheet" type="text/css" th:href="@{/jystyle.css}">
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign up</title>
	
    <script th:inline="javascript">
        // 에러 메시지가 있으면 alert로 표시
        window.onload = function() {
            const errorMessage = /*[[${errorMessage}]]*/ '';
            if (errorMessage) {
                alert(errorMessage); // JavaScript alert 표시
            }
        }
    </script>	
</head>

<body>
	<nav th:replace="~{header :: navbarFragment}"></nav>
	<div class="total">
		<div class=" colorheader" >
		Sign up
		</div>
	</div>	
	<div layout:fragment="content" class="container my-3">
		<div class="total2">
			<div class="login">
				<br>
				<div><img th:src="@{/img/CB로고.jpg}" alt="cblog" ></div>	
				 <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
			     	<div class="mb-3 floating-label">
			            <input type="text" th:field="*{username}" class="form-control input" placeholder="">
			            <label for="username" class="form-label">ID</label>
			        </div>
			        <div class="mb-3 floating-label">
			            <input type="password" th:field="*{password1}" class="form-control input" placeholder="">
			            <label for="password1" class="form-label">Password</label>
			        </div>
			        <div class="mb-3 floating-label">
			            <input type="password" th:field="*{password2}" class="form-control input" placeholder="">
			            <label for="password2" class="form-label">Password Check</label>
			        </div>
			        <div class="mb-3 floating-label">
			            <input type="email" th:field="*{email}" class="form-control input" placeholder="">
			             <label for="email" class="form-label">email</label>
			        </div>
			        <button type="submit" class="btn btn-primary">Sign up</button>
				 </form>
			 </div>
		 </div>
	</div>
	
<nav th:replace="~{footer :: FooterFragment}"></nav>		
</body>

<script src="https: //code.jquery.com/jquery-1.11.3.js" type="text/javascript"></script> 
<script th:inline="javascript">

</script>

</html>



